---
layout: default
robots: noindex
---

<div class="main-post-list">
  <ol class="post-list">
    {% for post in paginator.posts reversed %}
      {% if post.title == 'Education'%}
      <li>
        <h2 class="post-list__post-title post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <i class="fas fa-user-graduate right-margined"></i>
            {{ post.title }}
          </a>
        </h2>
      </li>
      {% endif %}

      {% if post.title == 'Contact'%}
      <li>
        <h2 class="post-list__post-title post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <i class="fas fa-address-card right-margined"></i>
            {{ post.title }}
          </a>
        </h2>
      </li>
      {% endif %}
      
    {% endfor %}
  </ol>

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
