---
layout: default
robots: noindex
---

<div class="main-post-list">
  <ol class="post-list">
    {% assign sortedPosts = paginator.posts | sort: 'order' %}
    {% for post in sortedPosts %}
      {% if post.title == 'Work' %}
      <li>
        <h2 class="post-list__post-title post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <i class="fas fa-briefcase right-margined"></i>
            {{ post.title }}
          </a>
        </h2>
      </li>
      {% endif %}

      {% if post.title == 'Education' %}
      <li>
        <h2 class="post-list__post-title post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <i class="fas fa-user-graduate right-margined"></i>
            {{ post.title }}
          </a>
        </h2>
      </li>
      {% endif %}

      {% if post.title == 'Problem Solving' %}
      <li>
        <h2 class="post-list__post-title post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <i class="fas fa-code right-margined"></i>
            {{ post.title }}
          </a>
        </h2>
      </li>
      {% endif %}

      {% if post.title == 'Contact' %}
      <li>
        <h2 class="post-list__post-title post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            <i class="fas fa-address-card right-margined"></i>
            {{ post.title }}
          </a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}
  </ol>

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
